.App {
  text-align: center;
}

.img-quote {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-quote{
  font-size: x-large;
  font-style: italic;
  font-weight: bold;
  color: #cccccc;
}
.font-author{
  font-size: medium;
  color: #000000;
}

.p-sentiment{
  text-align:right;
  font-size: medium;
  color: #ffffff;
}
.p-ip{
  font-size: medium;
  font-weight: bold;
  color: #ffffff;
}
  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
